<!-- Шапка адміна -->
<header>
    <div class="logo">
        <p>Панель адміністратора</p>
        <img src="~/images/hello.png" alt="helo">
    </div>
    <div class="back">
        @RenderSectionAsync("BackButton", false)
    </div>
    <hr>
</header>