<!--Підвал сайту-->
<footer>
    <div class="footer--logo">
        <div><img src="~/images/Logo.svg" alt="logo"></div>
        <h2>БЕЗ КОРДОНІВ</h2>
    </div>
    <div class="footer">
        <div class="content--line">
            <img src="~/images/facebook.svg" alt="logo">
            <a href="#">Хочу в табір</a>
            <a href="#">Наставники</a>
        </div>
        <div class="content--line">
            <img src="~/images/instagram.svg" alt="logo">
            <a href="#">Що на вас чекає?</a>
            <a href="#">Про нас</a>
        </div>
    </div>
</footer>